@import '../../setting/varAndMixin.scss';

.project{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 50% auto 10% ;
    &__imgage-wrapper{
        @include flexCenter;
        grid-column: 1/2;
        grid-row: 1/2;
        overflow: hidden;
    }
    &__image{
        width: 100%;
        height: auto;
        //background-size: cover;
    }
    &__title{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__date{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__description{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &__link{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

// small devices (smartphons on landscape oreintation, 768px and up)
@media (max-width: 768px) and (orientation: landscape) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .project {
        height: 400px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}