@import '../setting/varAndMixin.scss';

//first illustration
#handAndStick {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: handAndStickMovie 2s infinite alternate;
}

@keyframes handAndStickMovie {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

#Chat_icon {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(2) translate(-20px, -10px);
}

#firstcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0s infinite;
}

#secondcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.2s infinite;
}

#thirdcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.4s infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

}




#Chat_icon_1_ {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1.7) translate(20px, -30px);
}

#firstline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1s infinite;
}

#secondline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1.2s infinite;
}

#thirdline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1.4s infinite;
}






#mouthTeacher {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacityMouth 2s infinite;
}

@keyframes opacityMouth {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

}




#g44231 {
    transform-box: fill-box;
    transform-origin: left bottom;
    animation: handStudentMovie 1.4s 1s infinite alternate;
}

@keyframes handStudentMovie {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

//second illustration
#firstEffect {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: effectMovie 2s infinite alternate;
}

#secondEffect {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: effectMovie 2s 0.3s infinite alternate;
}

#thirdEffect {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: effectMovie 2s 0.6s infinite alternate;
}

@keyframes effectMovie {
    0% {
        //opacity: 1;
        transform: translate(60px, 10px)scale(0.7);
    }

    20% {
        //opacity: 0;
        transform: translate(0px, 10px)scale(1);
    }

    30% {
        //opacity: 1;
        transform: translate(-60px, 0px)scale(1.2);
    }

    50% {
        //opacity: 0;
        transform: translate(0px, 10px)scale(1.3);
    }

    60% {
        //opacity: 1;
        transform: translate(60px, 0px)scale(0.7);
    }

    70% {
        //opacity: 0;
        transform: translate(0px, 10px)scale(1);
    }

    90% {
        //opacity: 1;
        transform: translate(-60px, 0px)scale(1.3);
    }
}

#Man_with_pencil {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: humanMovie 2.4s infinite linear alternate;
}

@keyframes humanMovie {
    0% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-1deg);
    }

    30% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(-3deg);
    }
}

#Graduation_hat_1_ {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: hatMovie 3s infinite linear alternate;
}

@keyframes hatMovie {
    0% {
        //opacity: 1;
        transform: translate(-740px, -220px)rotate(-20deg);
    }

    10% {
        transform: translate(-740px, -205px)rotate(-30deg);
    }

    30% {

        transform: translate(-740px, -220px)rotate(-20deg);
    }

    35% {

        transform: translate(-740px, -220px)rotate(-30deg);
    }

    50% {

        transform: translate(-740px, -205px)rotate(-40deg);
    }

    70% {

        transform: translate(-740px, -220px)rotate(-30deg);
    }

    80% {

        transform: translate(-740px, -220px)rotate(-20deg);
    }

    90% {

        transform: translate(-740px, -230px)rotate(-30deg);
    }

    100% {

        transform: translate(-740px, -220px)rotate(-20deg);
    }

}

#Certificate {
    transform-box: fill-box;
    transform-origin: bottom;
    margin-left: 300px;
    animation: certificatMovie 4s linear infinite;
}

@keyframes certificatMovie {
    from {
        transform: rotate(0deg) translateX(110px) rotate(0deg);
    }

    to {
        transform: rotate(-360deg) translateX(110px) rotate(360deg);
    }
}


#certificatTwoBox {
    transform: translate(0px, 100px);
}

#Certificate_1_ {
    transform-box: fill-box;
    transform-origin: bottom;
    margin-left: 300px;
    animation: certificatTwoMovie 4s linear infinite;
}

@keyframes certificatTwoMovie {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(250px) rotate(360deg);
    }
}


#starBox {
    transform: translate(-300px, 0px);
}

#Star {
    transform-box: fill-box;
    transform-origin: bottom;
    margin-left: 300px;
    animation: starMovie 6s -2s linear infinite;
}

@keyframes starMovie {
    from {
        transform: rotate(0deg) translateX(350px) rotate(0deg);
    }

    to {
        transform: rotate(-360deg) translateX(350px) rotate(-360deg);
    }
}

//illustration three

#chatAid {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1.4);
}

#lineOne {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.4s infinite;
}

#lineTwo {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.2s infinite;
}

#lineThree {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s infinite;
}

#leftHand {
    transform-box: fill-box;
    transform-origin: left bottom;
    animation: handStudentMovie 1.4s 1s infinite alternate;
}

#rightHand {
    transform-box: fill-box;
    transform-origin: top;
    animation: handMovie 1.5s -0.5s infinite linear alternate;
}

@keyframes handMovie {
    0% {
        transform: rotate(0deg) translateY(-3px);
    }

    100% {
        transform: rotate(-10deg)translateY(-3px);
    }
}