@import '../setting/varAndMixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko',
        sans-serif;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: 200vh;
    background-color: $color-white;

    &::-webkit-scrollbar {
        display: none
    }

    nav {
        width: auto;
        height: auto;
        position: fixed;

        .nav__cointainer {
            width: 100vw;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .background {
            @include backgroundIce;
            background: transparent;
            backdrop-filter: blur(5px);
            box-shadow: $color-grey 0px 0px 10px;
            position: absolute;
            width: 100vw;
            height: 60px;

        }
    }
}

.test {
    width: 50vw;
    height: 100vh;
    background-color: $color-purple;
    transform: translateX(100px);
    position: absolute;
    z-index: -19;
}

// small devices (smartphons on landscape oreintation, 768px and up)
@media (max-width: 768px) and (orientation: landscape) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}