// vars
$color-purple: rgb(77, 10, 131);
$color-white: rgb(255, 255, 255);
$color-black: rgb(18, 18, 18);
$color-grey: rgb(163, 163, 160);
$color-turquis: rgb(50, 134, 139);
$color-red: rgb(236, 78, 50);

// mixins
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}