@import '../setting/varAndMixin.scss';

.menu {
    @include backgroundIce;
    width: 100vw;
    height: 280px;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: $color-grey 0px 0px 10px;
    position: absolute;
    transform: translateY(-360px);
    transition: transform 1s ease-in-out;


    &__list {
        font-size: 1.6rem;
        font-weight: 700;
    }

    &__item {
        padding: 10px;

        &:hover {
            box-shadow: inset rgba(163, 163, 160, 0.329) 0px 0px 100px,
                $color-grey 0px 0px 5px;
        }
    }

    &__icon {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        color: $color-black;
        padding-left: 10px;
    }

    &--active {
        transform: translateY(170px);
    }
}